body{
    background-color: rgb(215, 23, 64);
}
#profile-wrap{
    text-align: center;
}
#profile {
    width: 150px; /* Adjust the width as per your requirement */
    height: 150px; /* Adjust the height as per your requirement */
    border-radius: 50%; /* Makes the border round (50% of the width/height) */
    text-align: center;
}

.social-links{
    display: flex; /*this aligns them horizontally*/
    padding:0;
    list-style-type: none;
}
.social{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}